body {
  background-color: rgb(186, 224, 211);
}
.instruction {
  color: rgb(104, 128, 9);
}
.container {
  width: 1335px;
  height: 610px;
  border-right: 5px solid orangered;
  border-left: 5px solid orangered;
  border-top: 5px solid orangered;
  text-align: center;
}
.leftDiv {
  width: 420px;
  border-right: 2px solid orangered;
  border-left: 2px solid orangered;
  border-top: 2px solid orangered;
  height: 598px;
  float: left;
  margin: 5px 0px 0px 5px;
  float: left;
}

.rightDiv {
  width: 894px;
  border-right: 1px solid orangered;
  border-left: 1px solid orangered;
  border-top: 1px solid orangered;
  height: 598px;
  float: left;
  margin: 5px 0px 0px 5px;
  position: relative;
}
